{% extends "base.twig" %}
    {% block body %}
        <script src="{{ siteUrl('/vendors/ckeditor/ckeditor.js') }}"></script>
        <section>
            <div class="full-width">
                <h2>{{ title }}</h2>
                <p>{{ flash.message }}</p>
                <p>{{ name }}</p>
                <form class="page-form" action="{{ currentUrl() }}" method="post" name="page-form" novalidate="novalidate">
                    <div class="form-field">
                        <label for="name">Name<span>*</span></label>
                        <input name="name" id="name" type="text" value="{{ content.name }}" maxlength="100">
                    </div>
                    <div class="form-field">
                        <label for="slug">Slug<span>*</span></label>
                        <input name="slug" id="slug" type="text" value="{{ content.slug }}" maxlength="100">
                    </div>
                    <div class="form-field">
                        <label for="content">Content<span>*</span></label>
                        <textarea name="content" id="content">{{ content.content }}</textarea>
                        <script>
                            CKEDITOR.replace( 'content' );
                        </script>
                    </div>
                    <div class="form-field">
                        <label for="excerpt">Excerpt<span>*</span></label>
                         <textarea name="excerpt" id="excerpt">{{ content.excerpt }}</textarea>
                    </div>
                    {% if content.id is defined %}
                    <input type="hidden" value="{{ content.id }}" name="id">
                    {% endif %}
                    <input type="hidden" name="csrf" value="{{ csrf }}">
                    <input class="button" name="submit" type="submit" value="Send">
                </form>
            </div>
        </section>
    {% endblock %}