{% extends "base.twig" %}
    {% block body %}
        <section>
            <div class="full-width">
                <h2>{{ title }}</h2>
                <p>{{ flash.message }}</p>
                <form class="contact-us" id="contact_form" action="{{ currentUrl() }}" method="post" name="enquiry" novalidate="novalidate">
                    <div class="form-field">
                        <label for="name">Product Name<span>*</span></label>
                        <input name="name" id="name" type="text" value="{{ content.name }}" maxlength="100">
                    </div>
                    <div class="form-field">
                        <label for="slug">Slug<span>*</span></label>
                        <input name="slug" id="slug" type="text" value="{{ content.slug }}" maxlength="100">
                    </div>
                    <div class="form-field">
                        <label for="description">Product Description<span>*</span></label>
                        <textarea name="description" id="description">{{ content.description }}</textarea>
                    </div>
                    <div class="form-field">
                        <label for="price">Price<span>*</span></label>
                        <input name="price" id="price" type="number" placeholder="£" value="{{ content.price }}">
                    </div>
                    {% if content.id is defined %}
                        <input type="hidden" value="{{ content.id }}" name="id">
                    {% endif %}
                    <input type="hidden" name="csrf" value="{{ csrf }}">
                    <input class="button" name="submit" type="submit" value="Send">
                </form>
            </div>
        </section>
    {% endblock %}
