{% extends "base.twig" %}
{% block nav %}
    <div class="main-nav">
        <a href="{{ urlFor('view-cart') }}">View Cart</a> <a href="{{ urlFor('register') }}">Register</a>
        <a href="{{ urlFor('login') }}">Log In</a>
    </div>
{% endblock %}
{% block body %}
    <article>
        <div class="full-width">
            {{ cart | striptags('<table><tr><td><a>') | raw }}
            <a href="{{ siteUrl('/checkout/') }}" class="button">Buy Now</a>
        </div>
    </article>
{% endblock %}
