{% extends "base.twig" %}
    {% block body %}
        <section>
            <div class="full-width">
                <h2>Register User</h2>
                <p>{{ flash.error.message }}</p>
                <p>{{ name }}</p>
                <form class="register" id="registration_form" action="{{ siteUrl('/create-user/') }}" method="post" name="register" novalidate="novalidate">
                    <div class="form-field">
                        <label for="username">Username<span>*</span></label>
                        <input name="username" id="username" type="text" value="{{ field.username }}" maxlength="255">
                        <p>{{ flash.error.username }}</p>
                    </div>
                    <div class="form-field">
                        <label for="email">Email<span>*</span></label>
                        <input name="email" id="email" type="text" value="{{ field.email }}" maxlength="255">
                        <p>{{ flash.error.email }}</p>
                    </div>
                    <div class="form-field">
                        <label for="password">Password<span>*</span></label>
                        <input name="password" id="password" type="password" value="{{ field.password }}" maxlength="255">
                        <p>{{ flash.error.password }}</p>
                    </div>
                    <input type="hidden" name="csrf" value="{{ csrf }}">
                    <input class="button" name="submit" type="submit" value="Join">
                </form>
            </div>
        </section>
    {% endblock %}
